@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "H11";
}
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        .container {
            width: 80%;
            margin: auto;
            text-align: center;
        }

        img {
            width: 100%;
            height: auto;
        }

        h1 {
            font-size: 1.5em;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container" >
        <h1>@ViewData["Title"]</h1>
        <a href="https://ncyuweb.ncyu.edu.tw/csie/">
        <img src="https://ncyuweb.ncyu.edu.tw/files/site_content/ee/%E6%96%B0%E7%90%86%E5%B7%A5%E5%A4%A7%E6%A8%93.jpg" alt="New Engineering Building">
        </a>
        <h1>學系特色 資訊工程為全球高成長產業及重點核心發展領域，未來數十年之內資訊專業人才仍呈現供不應求趨勢，包括人工智慧、深度學習、雲端物聯網、智慧農業、區塊鏈、金融科技等迫切需要資訊人才加入協助發展各種智慧應用的軟硬體服務，主要發展方向為軟體工程及知識工程、互動多媒體、網路及資訊安全等三大領域。</h1>
    </div>
</body>
</html>